#duboverSettingsMenu {
    background-color: #111;
    border: 1px solid #ccc;
    display: none;
    padding: 0.5em;
    z-index: 9999;

    height: 8em;
    width: 25em;

    margin: auto;
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
}

#duboverSettingsMenuApplyButton {
    width: 11.5em;

    position: absolute;
    bottom: 0.5em;
    left: 0.5em;
}

#duboverSettingsMenuCancelButton {
    width: 11.5em;

    position: absolute;
    bottom: 0.5em;
    right: 0.5em;
}